.selectors {
  padding-top: 40px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #1d2d44;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #748cab;
}

.article .highlight {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f44336;
}

.highlight {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
